
/* ---- reset ---- */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, input, label {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  overflow: hidden;
}

h1,h2,h3,h4,h5{
  font-family: 'Amatic SC', cursive;
}

h3{
  font-size: 1.8rem;
}

a{
  text-decoration: none;
}

nav{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.2rem;
  background-color: white;
}

nav .down{
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.50);

}

nav img {
  height: 2rem;
}

nav img:hover{
  height: 2.1rem;
}

.login-btn{
  background: #f12711;  
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);  
  background: linear-gradient(to right, #f5af19, #f12711); 
  color: white;
  border-radius: 15px;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 2px;
  border: none;
  outline:none;
  margin-right: 0.3rem;
}

.logout-btn{
  background: darkslategrey;
  color: white;
  border-radius: 15px;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 2px;
  border: none;
  outline:none;
  margin-right: 0.3rem;
}

.nav-btns{
  max-height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donate-btn{
  width: 113px;
  min-height: 41px;


}

.donate-link button {
  border-radius: 10px;
  background-color: white;
  padding: 0.3rem 2rem;
  cursor: pointer;
  font-family: 'Amatic SC', cursive;
  font-size: 1.2rem;
  letter-spacing: 1px;
  outline:none;
  border: #f12711 2px solid;
  text-align: center;
  max-height: 41px

}


.donate-btn:hover{
  font-size: 0;
}

.donate-btn:hover:after{
  content: "$$$";
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1rem;
}

.donate-link button:hover{
  background: #f12711;  
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);  
  background: linear-gradient(to right, #f5af19, #f12711); 
  color: white;
  border: none;
}



/* login */
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: calc(100vh - 125px);
  width: 30vw;
  margin: 0 auto;
}

.account-stuff{
  margin-left: 2rem;
}

.signup{
  padding-bottom: 6.3rem;
}

.label-form{
  margin-bottom: 0.5rem;
}

.input-form{
  margin-bottom: 1rem;
  border-radius: 5px;
  height:1.5rem;
  padding-right: 0.3rem;  
}

.input-form:focus{
  background-color: #f5af19;
  outline: none;
}

.btn-form{
  background: #f12711;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  border-radius: 15px;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 2px;
  margin-top: 0;
  border: none;
  transition: all 0.5s ease-out;
  outline:none;
}

.btn-form:hover{
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.50);
  cursor: pointer;
}


/* header */

header {
  height: calc(100vh - 68.6px);
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  background-image: url('/images/background1.png');
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 85px);
  background-size: cover;

}

.backgroundImages {
  animation: backgroundimages 3s ease-in-out 2s backwards;
  transition-duration: 1s;
}
@keyframes backgroundimages{
  from{opacity: 0;}
  to{opacity: 1;}
}

header p {
  line-height: 1rem;
  text-align: justify;
}

.main-content{
  padding: 20px;
  align-self: center;
  width: 25vw;
  padding-bottom: 17vh;
  margin-top: 4.5rem;
  margin-left: 2rem;
  margin-right: 4rem;

}

.main-btn{
  background: #f12711;  
background: -webkit-linear-gradient(to right, #f5af19, #f12711);  
background: linear-gradient(to right, #f5af19, #f12711); 
color: white;
border-radius: 15px;
padding: 1rem 1.7rem;
font-size: 1.5rem;
font-family: 'Amatic SC', cursive;
letter-spacing: 2px;
border: none;
transition: all 0.5s ease-out;
margin: auto;
outline:none;
margin-top: 0.9rem;
}

.main-btn:hover{
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.50);
  cursor: pointer;
}

/* -- configurator -- */

#configurator{
  height: calc(100vh - 68.6px);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.illustration-img {
  height: 10rem;
}

.choose{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 250px;
}

/* -- number of elements -- */
.elements-section{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.addremove-btn{
  background-color: white;
  border: #f12711 1px solid;
  font-size: 1.5rem;
  font-style: bold;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin-right: 1rem;
}

.addremove-btn:focus { outline: none; }

.addremove-btn:last-child{
  margin-right:0;
}

.element-confirm{
  display: flex;
  justify-content: center;
  align-content: center;
}

/* -- card slider -- */

.cards-app{
  width: 100vw;
  margin: 7rem auto;
}

.cards-tittle{
  text-align: center;
}

.cards-btns{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.2rem;
  width: 100%;
}

.cards-btns  img{
  height: 2rem;
  cursor: pointer;

}

.cards{
  height: 264px;
  position: relative; 
  animation: elementin 1.3s ease-in-out 0s backwards;
}

@keyframes elementin{
  from{opacity: 0;}
  to{opacity: 1;}
}

.card{
  border: 3px #f3f3f3 solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: #f3f3f3;
  padding: 10px;
  max-width: 220px;
  text-align: left;
  margin: 0 auto;
  border-radius: 30px;
}

.card img {
  max-width: calc(100%);
  margin: 0 auto;
  display: block; }

.cards-slider-wrapper {
  display: flex;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  
}
  .cards-slider-wrapper .card {
    flex: 1;
    min-width: 223px;
    opacity: 0.5;
    transform: scale(0.8);
    box-shadow: none;
    /* background-color: white;
    border-color: white; */
    transition: opacity 300ms linear, border-color 300ms linear, background-color 300ms linear, transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); 
    pointer-events:auto;}

.cards-slider.active-slide-0 #card-0 {
  opacity: 1;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3; }


.cards-slider.active-slide-1 #card-1 {
  opacity: 1;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3; }


.cards-slider.active-slide-2 #card-2 {
  opacity: 1;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3; }


.cards-slider.active-slide-3 #card-3 {
  opacity: 1;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3; }


.cards-slider.active-slide-4 #card-4 {
  opacity: 1;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3; }


.cards-slider {
  position: relative;
  max-width: 226px;
  margin: 0 auto; 
  pointer-events:none; 
}
  .cards-slider:after {
    content: '';
    display: block;
    width: 100%;
    height: 264px;
    border-bottom: 5px solid #f12711;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    top: 0;
    left: 0; 
    pointer-events:none; }

/* -- shirt -- */

.shirt{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: shirtin 1.3s ease-in-out 0s backwards;
}

@keyframes shirtin{
  from{opacity: 0;}
  to{opacity: 1;}
}

.shirtDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.theshirt{
  height: 100vh;
  transition: all 0.5s ease-out;
  -webkit-transition: height 1s;
}

/* .theshirt:hover{
  height: 105vh;
  -webkit-transition: height 0.5s;
} */

.purchase-btn{
  background: #f12711;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  border-radius: 15px;
  padding: 1rem 1.7rem;
  font-size: 1.5rem;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 2px;
  border: none;
  transition: all 0.5s ease-out;
  margin: auto;
  outline:none;
  margin-top: 0.9rem;
}

.purchase-btn:hover{
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.50);
  cursor: pointer;
}

.back-btn{
  background: darkslategrey;
  color: white;
  border-radius: 15px;
  padding: 1rem 1.7rem;
  font-size: 1.2rem;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 2px;
  border: none;
  transition: all 0.5s ease-out;
  margin: auto;
  outline:none;
  margin-top: 0.9rem;
}

.back-btn:hover{
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.50);
  cursor: pointer;
}

.purchase-btn:hover{
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.50);
  cursor: pointer;
}



/* -- purchase screen -- */

.purchase-screen{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.purchase{
  display: flex;
  flex-direction: row;
  animation: purchasein 1.3s ease-in-out 0s backwards;
  justify-content: center;
  align-content: center;
  height: 80vh;
  width: 100vw;
}

@keyframes purchasein{
  from{opacity: 0;}
  to{opacity: 1;}
}

.purchase-shirt{
  height:100%;
}

.purchase-details{
 display: flex;
 flex-direction: column;
 align-content: center;
 justify-content: center;
 height: 33vh;
 margin-top: 8rem;
}

/* -- footer -- */

.arrow-up{
  position: absolute;
  top: calc(185vh - 3rem);
  right: 2rem;
}

.arrow-up img{
  height: 4rem;
}